<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <title>Escort Girls - Recomendations in Brazil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .answer pre {
            white-space: pre-wrap;   /* quebra de linha automática */
            word-wrap: break-word;   /* quebra palavras longas */
            overflow-x: hidden;      /* remove scroll horizontal */
        }

        .answer {
            border: 1px solid #e2e2e2;
            padding: 25px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body class="bg-light">

  <!-- Header -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Escort Girls - Recomendations in Brazil</span>
    </div>
  </nav>

  <!-- Container -->
  <div class="container my-2">
    <div class="card shadow-lg rounded-3">
      <div class="card-body p-4">
        <p>Based in real brazillians comments.</p>
        <h2 class="h4 mb-4">Filtros</h2>
        <form class="mb-2" id="search_form">
          <div class="row g-3">
            <!-- Estado -->
            <div class="col-md-4">
              <label for="estado" class="form-label">Estado</label>
              <select id="estado" name="estado" class="form-select" disabled>
                <option value="SP">São Paulo</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="MG">Minas Gerais</option>
              </select>
            </div>

            <!-- Cidade -->
            <div class="col-md-4">
                <label for="estado" class="form-label">Cidade</label>
                <select id="estado" name="estado" class="form-select" disabled>
                    <option value="sao_paulo" selected>São Paulo</option>
                    <option value="campinas" >Campinas</option>
                </select>
            </div>

            <!-- Nick -->
            <div class="col-md-4">
              <label for="nick" class="form-label">Nick</label>
              <input type="text" id="nick" name="nick" class="form-control" placeholder="Pesquisar por um nick em especifico">
            </div>

            <!-- Tópico -->
            <div class="col-md-6">
              <label for="topico" class="form-label">Tópico</label>
              <select id="topico" name="topico" class="form-select">
                <option value="">Selecione...</option>
                <option value="" selected></option>
              </select>
            </div>

            <!-- Data início -->
            <div class="col-md-3">
              <label for="dateInitial" class="form-label">Data início</label>
              <input type="date" id="dateInitial" name="dateInitial" class="form-control">
            </div>

            <!-- Data fim -->
            <div class="col-md-3">
              <label for="dateFinish" class="form-label">Data fim</label>
              <input type="date" id="dateFinish" name="dateFinish" class="form-control">
            </div>

            <div class="col-md-2">
              <label for="oral" class="form-label">Oral sem camisinha</label>
              <select id="oral" name="oral" class="form-select">
                <option value="">Selecione</option>
                <option value="yes">Sim</option>
                <option value="no">Não</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="anal" class="form-label">Faz anal</label>
              <select id="anal" name="anal" class="form-select">
                <option value="">Selecione</option>
                <option value="yes">Sim</option>
                <option value="no">Não</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="kiss" class="form-label">Beija na boca</label>
              <select id="kiss" name="kiss" class="form-select">
                <option value="">Selecione</option>
                <option value="yes">Sim</option>
                <option value="no">Não</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="grade" class="form-label">Nota acima de</label>
              <select id="grade" name="grade" class="form-select">
                <option value="">Selecione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="tds" class="form-label">Td(s) acima de</label>
              <input type="text" id="tds" name="tds" class="form-control">
            </div>
            <!-- <div class="col-md-12">
              <input class="form-check-input" type="checkbox" name="use_ia" id="use_ia">
              <label class="form-check-label" for="use_ia">
                Utilizar IA (esse processo pode demorar até 2min)
              </label>
            </div> -->
          </div>



          <!-- Pergunta -->
          <div class="mt-4">
            <label for="question" class="form-label fw-bold">Faça sua pergunta</label>
            <textarea id="question" name="question" class="form-control" rows="4"
              placeholder="Ex: Preciso de recomedanções sobre ..."></textarea>
          </div>

          <!-- Botão -->
          <div class="d-flex justify-content-end mt-3">
            <button id="go_search" type="submit" class="btn btn-primary px-4">Pesquisar</button>
          </div>
        </form>

        <div id="respostasContainer"></div>
      </div>
    </div>
  </div>

  <!-- Bootstrap 5 JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

  <script src="/js.js"></script>
  <script>
    const api_route = "<%= api_route %>"
    const socket = io("<%= socker_io_server %>");

    // Receber mensagem do servidor
    socket.on("mensagemDoServidor", (msg) => {
        // const li = document.createElement("li");
        // li.textContent = msg;
        // ul.appendChild(li);

        console.log(msg);
    });

  </script>


</body>
</html>
